# do not commit sensitive information to git
.env*
!.env.example
.env
.env.production
.env.sandbox
starry-iris-442614-c1-0e8cece52e67.json

# dependencies
node_modules/

# dev tools
.eslintcache
.nyc_output
coverage
