.jumbotron {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding-top: 5vh;
  background-color: #70d5ee;
  color: #5A3E36;
  text-align: center;
  box-sizing: border-box;
  height: 475px;
  opacity: 0;
  animation: fadeIn 2s ease-out forwards;
}

.jumbotron-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  text-align: center;
  animation: slideIn 1.5s ease-out forwards;
  opacity: 0;
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.jumbotron h1 {
  font-family: 'Pacifico', cursive;
  font-size: 7vw;
  margin-bottom: 10px;
  margin-top: 5px;
}

.jumbotron p {
  font-family: 'Open Sans', sans-serif;
  font-size: 3.7vw;
  margin-top: 5px;
}

.jumbotron-menu {
  animation: zoomIn 4s ease forwards;
  
}

@keyframes zoomIn {
  100% {
    transform: scale(1);
    opacity: 1;
  }
  0% {
    transform: scale(0);
    opacity: 0;
  }
}

.order-button {
  background-color: #D9663D; /* Soft orange */
  border: none;
  padding: 10px 20px;
  color: #fff;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 2.5vw;
  margin-top: 10px;
}

.order-button:hover {
  background-color: #B24A2F;
}

.dropdownmenu-container {
  position: relative;
}

@media (min-width: 768px) {
  
  .jumbotron {
    height: 600px;
  }
  .jumbotron-content {
    margin-top: 100px;
  }

  .jumbotron h1 {
    font-family: 'Pacifico', cursive;
    font-size: 5vw;
    margin-bottom: 10px;
    margin-top: 5px;
  }
  
  .jumbotron p {
    font-family: 'Open Sans', sans-serif;
    font-size: 3vw;
    margin-top: 5px;
  }
}

@media (min-width: 1024px) {
  .jumbotron {
    height: 800px;
  }
}

@media (min-width: 1440px) {
  .jumbotron {
    height: 1050px;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}