/* Dropdown container */
.dropdown-container {
    position: relative;
}

/* Hamburger button */
.menu-button {
    background: none;
    border: none;
    font-size: 24px;
    color: #5A3E36;
    cursor: pointer;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
}

/* Dropdown menu */
.dropdown-menu {
    position: fixed;
    top: 0;
    right: -250px;
    height: 100%;
    width: 250px;
    background-color: #f58d0d;
    overflow-y: auto; /* Allow scrolling if content overflows */
    color: #5A3E36;
    transition: transform 0.3s ease;
    z-index: 999;
}

.dropdown-menu.open {
    transform: translateX(-250px);
}

/* Basic dropdown links */
.dropdown-menu a {
    color: #5A3E36;
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
    display: block;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    gap: 10px; /* Space between links */
    padding: 20px;
}

.dropdown-menu a:hover {
    color: #D9663D; /* Highlighted orange on hover */
}

.dropdown-label {
    font-size: 1.5em;
    margin-top: 10px;
    color: #B24A2F;
}